@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*

██╗░░██╗██████╗░░█████╗░██╗░░██╗██████╗░░█████╗░░█████╗░
╚██╗██╔╝██╔══██╗██╔══██╗╚██╗██╔╝╚════██╗██╔═══╝░██╔══██╗
░╚███╔╝░██████╔╝██║░░██║░╚███╔╝░░█████╔╝██████╗░██║░░██║
░██╔██╗░██╔══██╗██║░░██║░██╔██╗░░╚═══██╗██╔══██╗██║░░██║
██╔╝╚██╗██║░░██║╚█████╔╝██╔╝╚██╗██████╔╝╚█████╔╝╚█████╔╝
╚═╝░░╚═╝╚═╝░░╚═╝░╚════╝░╚═╝░░╚═╝╚═════╝░░╚════╝░░╚════╝░

Thanks for looking at this website's source code! Star it on GitHub if you like it :)

*/

body{
  background-color: black;
}

nav{
  text-align: center;
}

nav ul{
  display: inline-block;
}

nav ul li{
  list-style-type: none;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  border-right-color: white; 
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: black;
}

a{
  display: inline;
  text-decoration: none;
  color: white;
}

a:hover{
  color: red;
}


h1, h3{
  text-align: center;
}

h1, h3, p{
  font-family: 'Poppins', sans-serif;
  color: #EF3232;
}

.img30x30{
  height: 30px;
  width: 30px;
}

.border{
  font-family: sans-serif;
}

.button{
  display: inline-block;
  position: relative;
  padding: 20px 20px;
  border-radius: 6px;
  outline: none;  
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: red;
  background-color: black;
}

.buttonbox{
  margin-top: 10px;
}

.buttontext{
  position: relative;
  bottom: 20px;
}

.meme{
  margin-left: 500px;
  height: 300px;
  width: 350px;
  
}

.footertext{
  margin-top: 300px;
  font-family: 'Poppins', sans-serif;
  color: red;
}

#chatbutton{
  font-size: 20px;
  font-weight: 900;
  margin-top: 30px;
  margin-left: 400px;
  height:40px; 
  width: 160px;
}

#chatbutton:hover{
  color: white;
  background: red; 
}

#gamesbutton{
  font-size: 20px;
  font-weight: 900;
  margin-top: 30px;
  margin-left: 100px;
  height:40px; 
  width: 160px;
}

#gamesbutton:hover{
  background: red;
  color: white;
}

#gamedownloadbutton{
  font-size: 20px;
  font-weight: 900;
  margin-top: 30px;
  margin-left: 400px;
  height:40px; 
  width: 160px;
}

#gamedownloadbutton:hover{
  color: white;
  background: red; 
}

#launcherbutton{
  font-size: 20px;
  font-weight: 900;
  margin-top: 30px;
  margin-left: 100px;
  height:40px; 
  width: 160px;
}

#launcherbutton:hover{
  background: red;
  color: white;
}