@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*

██╗░░██╗██████╗░░█████╗░██╗░░██╗██████╗░░█████╗░░█████╗░
╚██╗██╔╝██╔══██╗██╔══██╗╚██╗██╔╝╚════██╗██╔═══╝░██╔══██╗
░╚███╔╝░██████╔╝██║░░██║░╚███╔╝░░█████╔╝██████╗░██║░░██║
░██╔██╗░██╔══██╗██║░░██║░██╔██╗░░╚═══██╗██╔══██╗██║░░██║
██╔╝╚██╗██║░░██║╚█████╔╝██╔╝╚██╗██████╔╝╚█████╔╝╚█████╔╝
╚═╝░░╚═╝╚═╝░░╚═╝░╚════╝░╚═╝░░╚═╝╚═════╝░░╚════╝░░╚════╝░

Thanks for looking at this website's source code! Star it on GitHub if you like it :)

*/

body{
  background-color: black;
}

nav{
  text-align: center;
}

nav ul{
  display: inline-block;
}

nav ul li{
  list-style-type: none;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  border-right-color: white; 
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: black;
}

a{
  display: inline;
  text-decoration: none;
  color: white;
}

a:hover{
  color: red;
}


h1, h3{
  text-align: center;
}

h1, h3, p{
  font-family: 'Poppins', sans-serif;
  color: #EF3232;
}

.img30x30{
  height: 30px;
  width: 30px;
}

.border{
  font-family: sans-serif;
}

.button{
  display: inline-block;
  position: relative;
  padding: 20px 20px;
  border-radius: 6px;
  outline: none;  
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: red;
  background-color: black;
}

.buttonbox{
  margin-top: 10px;
}

.buttontext{
  position: relative;
  bottom: 20px;
}

.meme{
  margin-left: 500px;
  height: 300px;
  width: 350px;
  
}

.footertext{
  margin-top: 300px;
  font-family: 'Poppins', sans-serif;
  color: red;
}

#chatbutton{
  font-size: 20px;
  font-weight: 900;
  margin-top: 30px;
  margin-left: 400px;
  height:40px; 
  width: 160px;
}

#chatbutton:hover{
  color: white;
  background: red; 
}

#gamesbutton{
  font-size: 20px;
  font-weight: 900;
  margin-top: 30px;
  margin-left: 100px;
  height:40px; 
  width: 160px;
}

#gamesbutton:hover{
  background: red;
  color: white;
}

#gamedownloadbutton{
  font-size: 20px;
  font-weight: 900;
  margin-top: 30px;
  margin-left: 400px;
  height:40px; 
  width: 160px;
}

#gamedownloadbutton:hover{
  color: white;
  background: red; 
}

#launcherbutton{
  font-size: 20px;
  font-weight: 900;
  margin-top: 30px;
  margin-left: 100px;
  height:40px; 
  width: 160px;
}

#launcherbutton:hover{
  background: red;
  color: white;
}

#downloads {
	position: relative;
}

#pokemonouter {
	position: relative;
	margin-left: 83px;
	padding-top: 10px;
	height: 100px;
	width: 1200px;
	border-radius: 6px;
	outline: none;
	background-color: #3466af;
}

#pokemon {
	position: absolute;
	margin-top: 5px;
	margin-left: 10px;
	height: 80px;
	width: 1180px;
	border-radius: 6px;
	outline: none;
	background-color: #ffcb05;
}

#mario {
	position: absolute;
	margin-top: 50px;
	margin-left: 83px;
	height: 400px;
	width: 200px;
	border-radius: 6px;
	outline: none;
	background-color: #fe0002;
}

#kirby {
	position: absolute;
	margin-top: 50px;
	margin-left: 333px;
	padding-top: 10px;
	height: 100px;
	width: 450px;
	border-radius: 6px;
	outline: none;
	background-color: #d74894;
}

#footertext {
	margin-top: 1000px;
}

#sonic {
	position: absolute;
	margin-top: 50px;
	margin-left: 833px;
	padding-top: 10px;
	height: 100px;
	width: 450px;
	border-radius: 6px;
	outline: none;
	background-color: #1a50bc;
}

#warioouter {
	position: absolute;
  margin-top: 210px;
	margin-left: 333px;
	padding-top: 10px;
	height: 230px;
	width: 200px;
	border-radius: 6px;
	outline: none;
	background-color: #fdd50b;
}

#wario {
	position: absolute;
	margin-top: 5px;
	margin-left: 10px;
	height: 210px;
	width: 180px;
	border-radius: 6px;
	outline: none;
	background-color: #78226d;
}

#fzero {
	position: absolute;
  margin-top: 210px;
	margin-left: 583px;
	padding-top: 10px;
	height: 230px;
	width: 200px;
	border-radius: 6px;
	outline: none;
	background-color: #3637f6;
}

#dk {
	position: absolute;
	margin-top: 210px;
	margin-left: 833px;
	padding-top: 10px;
	height: 90px;
	width: 450px;
	border-radius: 6px;
	outline: none;
	background-color: #ab4210;
}

#marioextra {
	position: absolute;
  margin-top: 350px;
	margin-left: 833px;
	padding-top: 10px;
	height: 90px;
	width: 450px;
	border-radius: 6px;
	outline: none;
	background-color: #fe0002;
}